@model string

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith("Error") ? "danger" : "success";
    <div class="ui @statusMessageClass message" role="alert">
        @Model
    </div>
}