@page
@model LoginWithRecoveryCodeModel
@{
    wwBuildInfo.wwBuildInfo wwbi = new wwBuildInfo.wwBuildInfo();
    ViewData["SoftwareName"] = wwbi.GetName();
    ViewData["VersionNumber"] = wwbi.GetVersion();
    ViewData["ProjectUrl"] = wwbi.GetUrl();
    ViewData["SiteName"] = wwbi.getSiteSettings()["SiteName"];
}

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Log in | @ViewData["SiteName"]</title>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.6/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.6/dist/semantic.min.js"></script>
        <style>
            body {
                margin: 14px;
                /*margin-right: 14px;*/
            }
        </style>
        <script>
            function decodeHtml(html) {
                var txt = document.createElement("textarea");
                txt.innerHTML = html;
                return txt.value;
            }
            $( document ).ready(function() {
                $('.dropdown').dropdown();
            });
        </script>
    </head>
    <body>
        <partial name="_Navbar" />
        <div id="customContent">
            <form method="post">
                <h1>Enter recovery code</h1>
                <p>This login will not be remembered until you provide an authenticator app code at login or disable 2FA and log in again.</p>
                <div asp-validation-summary="All"></div>
                <div class="ui form">
                    <div class="field">
                        <label asp-for="Input.RecoveryCode"></label>
                        <input asp-for="Input.RecoveryCode" type="text" autocomplete="off" />
                        <span asp-validation-for="Input.RecoveryCode" class="text-danger"></span>
                    </div>
                </div>
                <br>
                <button type="submit" class="ui button">Log in</button>
            </form>
        </div>
        <div class="ui divider"></div>
        <span id="version" class="ui small grey text">Powered by @ViewData["SoftwareName"] @ViewData["VersionNumber"]</span>
    </body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
