@page
@model ResetPasswordModel
@{
    wwBuildInfo.wwBuildInfo wwbi = new wwBuildInfo.wwBuildInfo();
    ViewData["SoftwareName"] = wwbi.GetName();
    ViewData["VersionNumber"] = wwbi.GetVersion();
    ViewData["ProjectUrl"] = wwbi.GetUrl();
    ViewData["SiteName"] = wwbi.getSiteSettings()["SiteName"];
}

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Reset password | @ViewData["SiteName"]</title>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.6/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.6/dist/semantic.min.js"></script>
        <style>
            body {
                margin: 14px;
                /*margin-right: 14px;*/
            }
        </style>
        <script>
            function decodeHtml(html) {
                var txt = document.createElement("textarea");
                txt.innerHTML = html;
                return txt.value;
            }
            $( document ).ready(function() {
                $('.dropdown').dropdown();
            });
        </script>
    </head>
    <body>
        <partial name="_Navbar" />
        <div id="customContent">
            <form class="ui post" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input asp-for="Input.Code" type="hidden" />
                <div class="field">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="field">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="field">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="ui button">Reset</button>
            </form>
        </div>
        <div class="ui divider"></div>
        <span id="version" class="ui small grey text">Powered by @ViewData["SoftwareName"] @ViewData["VersionNumber"]</span>
    </body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


