@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Control Panel | @ViewData["SiteName"]</title>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.6/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.6/dist/semantic.min.js"></script>
        <style>
            body {
                margin: 14px;
                /*margin-right: 14px;*/
            }
        </style>
        <script>
            function decodeHtml(html) {
                var txt = document.createElement("textarea");
                txt.innerHTML = html;
                return txt.value;
            }
            $( document ).ready(function() {
                $('.dropdown').dropdown();
            });
        </script>
    </head>
    <body>
        <!--<div class="ui inverted menu">
            <a href="/" class="item">
                Home
            </a>
            <form class="right item" id="navigateForm" action="/Page/NavigateForm" method="post">
                <div class="ui inverted transparent input">
                    <input type="text" name="pageName" placeholder="Navigate to...">
                </div>
                <button type="submit" class="ui black button">Go</button>
            </form>
            <div class="ui inverted dropdown icon item">
                <i class="wrench icon"></i>
                <div class="menu">
                    <a class="item" href="/ViewPage/Special|List of pages">
                        Special|List of pages
                    </a>
                    <a class="item" href="/NewPage">
                        New Page
                    </a>
                    <a class="item" href="/ManageTemplates">
                        Manage Templates
                    </a>
                    <a class="item" href="/ManageFiles">
                        Manage Files
                    </a>
                    <a class="item" href="/Admin/ControlPanel">
                        Control Panel
                    </a>
                    <a class="item" href="/Docs/About">
                        About @ViewData["SoftwareName"]
                    </a>
                    <a class="item" href="/Docs/Syntax">
                        Syntax Guide
                    </a>
                </div>
            </div>
        </div>-->
        <partial name="_Navbar" />
        <div id="customContent">
            <div class="ui header">
                Control Panel
            </div>
            <div class="ui small header">
                Empty Garbage
            </div>
            <p>This will delete all files in the folder <code>/Content/garbage</code>. Please make sure you don't need any of those files before deleting them.</p>
            <form action="/Admin/ClearGarbageForm" method="post">
                <button type="submit" class="red ui button">Empty Garbage</button>
            </form>
            <div class="ui small header">
                Register New User
            </div>
            <p>Type in the email address of the person who you want to register. They will get an email with a link to allow them to access the register page.</p>
            <form class="ui form" id="registerUserForm" action="/Admin/RegisterUserForm" method="post">
                <div class="ui field">
                    <label>Email</label>
                    <input type="email" name="registerEmail" placeholder="user@example.com" />
                </div>
                <button type="submit" class="ui button">Send email</button>
            </form>
            <div class="ui small header">
                Other settings
            </div>
            <p>There are other settings in the <code>appsettings.json</code> file in the "webweb" folder on the server.</p>
        </div>
        <div class="ui divider"></div>
        <span id="version" class="ui small grey text">Powered by @ViewData["SoftwareName"] @ViewData["VersionNumber"]</span>
        <form id="deleteFile" action="/Page/GarbageFile" method="post">
            <input type="hidden" name="filePath" id="filePath">
            <button type="submit" style="display:none" id="deleteFileSubmit"></button>
        </form>
    </body>
</html>




